{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    // "no-console": "off",
    "react/no-access-state-in-setstate": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn"
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb-typescript"
    // "plugin:react/recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}