@font-face {
  font-family: 'Konstanting';
  src: url('../../assets/fonts/Konstanting.woff') format('woff');
  src: url('../../assets/fonts/Konstanting.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.TicTacToe {
  width: 100%;
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 10px 10px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__controls {
    min-width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: firebrick;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-options {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      flex-grow: 1;
      padding-left: 5px;
    }

    &-len {
      // margin: 0 5px;
    }

    &-button {
      width: 30px;
      margin: 0 5px;
    }
  }

  &__game {
    width: max-content;
    height: max-content;
  }

  &__info {
    min-width: 300px;
    height: max-content;
    padding: 20px;
    background-color: yellowgreen;

    &-status {
      // width: ;
      font-size: 1.5rem;
      font-weight: 700;
      border: 2px solid teal;
      border-radius: 5px;
      padding: 5px;
      margin: 0 0 10px;
    }
  }

  &__board {
    min-width: 300px;
    min-height: 300px;
    width: max-content;
    font-family: Konstanting;
    font-size: 2rem;
    background-color: lightgoldenrodyellow;
    margin: 0 auto 0;
    border: 1px solid #999;
  }

  &__row {
    width: 100%;
    height: 100px;
    display: flex;
  }

  &__square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #999;
    font-size: 2rem;
    font-family: Konstanting;
    font-weight: bold;
    line-height: 100px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;

    &:focus {
      outline: none;
    }
  }
}

.non-clickable {
  pointer-events: none;
  cursor: auto;
}

.blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 0.5s;
  font-weight: 700;
  background-color: rgba($color: #8bd636, $alpha: 0.1);
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
